<div class="container">
    <h1>Burgers!!!</h1>
    <p>Pick burger, Eat burger.</p>
    <div>
        <label id="burgerNew">What do you want?</label>
        <input type="text" id="burger">
        <button type="submit" class="btn btn-warning" id="addNew">
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="panel">
            <div class="header" id="order">ORDER HERE!</div>
            <div class="body">
                <h5></h5>
            </div>
        </div>
    </div>
</div>